$--color-primary: --color-primary;
$--color-primary-hint: --color-primary-hint;
$--color-primary-text: --color-primary-text;
$--color-secondary: --color-secondary;
$--color-secondary-text: --color-secondary-text;
$--color-danger: --color-danger;
$--color-primary-hover: --color-primary-hover;
$--color-secondary-hover: --color-secondary-hover;
$--color-danger-hover: --color-danger-hover;
$--color-disabled: --color-disabled;
$--space-0: --space-0;
$--space-1: --space-1;
$--space-2: --space-2;
$--space-3: --space-3;
$--space-4: --space-4;
$--font-size: --font-size;
$--font-size-small: --font-size-small;
$--font-size-h1: --font-size-h1;
$--font-size-h2: --font-size-h2;
$--font-size-h3: --font-size-h3;
$--font-size-h4: --font-size-h4;
$--font-size-h5: --font-size-h5;
$--font-size-h6: --font-size-h6;

$theme: (
  $--space-0: 0px,
  $--space-1: 4px,
  $--space-2: 8px,
  $--space-3: 12px,
  $--space-4: 16px,
  $--font-size: 14px,
  $--font-size-small: 13px,
  $--font-size-h1: 32px,
  $--font-size-h2: 28px,
  $--font-size-h3: 24px,
  $--font-size-h4: 20px,
  $--font-size-h5: 16px,
  $--font-size-h6: 14px
);

$theme-map-light: (
  $--color-primary: rgb(87, 0, 128),
  $--color-primary-hint: rgba(87, 0, 128, 0.16),
  $--color-primary-text: #ffffff,
  $--color-secondary: rgb(19, 182, 114),
  $--color-secondary-text: #ffffff,
  $--color-danger: rgb(231, 17, 17),
  $--color-primary-hover: rgba(87, 0, 128, 0.8),
  $--color-secondary-hover: rgb(28, 173, 113),
  $--color-danger-hover: rgb(226, 4, 4),
  $--color-disabled: rgb(215, 215, 215)
);
